# Angular
.angular/
node_modules/
/dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.e2e/
.idea/
.vscode/
npm-debug.log
yarn-error.log
# End of Angular

# .NET Core
bin/
obj/
*.dll
*.pdb
*.user
*.vspscc
*.dotCover
*.userprefs
*.bak
*.cache
*.dbmdl
*.jfm
*.ldf
*.mdf
*.log
*.res
*.suo
*.tlb
*.tlh
*.tmp
*.docstates
*.dotm
*.tmp
*.log
*.zip
*.xlsx
*.nupkg
*.pfx
*.snk
*.targets
*.config
*.vcxproj
*.cache
*.gpState
*.publishsettings
*.csproj.user
*.csproj.vspscc
*.psess
*.vsp
*.vssscc
.vs/
.nuget/
packages/
x64/
x86/
*.Cache
*.csproj.DotSettings.user
*.cache
bin/*
obj/*
logs/*
!bin/obj/*.dll
!logs/*.log
# End of .NET Core

# Ignore Visual Studio Code folder
.vscode/
